* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

$dark-color: #212529;
$dark-color-2: #343a40;
$dark-color-3: #495057;
$dark-color-4: #6c757d;
$light-color-5: #adb5bd;
$light-color-4: #ced4da;
$light-color-3: #dee2e6;
$light-color-2: #e9ecef;
$light-color: #f8f9fa;
$sm-break-point: 350px;
$md-break-point: 640px;
$sm-lg-break-point: 800px;
$lg-break-point: 1024px;
$xl-break-point: 1280px;
$xxl-break-point: 1536px;

@mixin media-query($mediaQuery) {
	@media (min-width: $mediaQuery) {
		@content;
	}
}
