@use "base";
@use "components";

html {
	font: 112.5%/1.625 -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
		"Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
}
body {
	background-color: base.$dark-color-2;
	color: base.$light-color;
	margin: 0px 4rem;
	min-height: 100vh;
	position: relative;
	div {
		width: auto;
		height: 100%;
	}
}
